<div class="kratos">
	<div class="marg-top-20">&nbsp;</div>
	<div class="content">
		<div class="row" ng-app="myDirective">
			<div class="span6" ng-controller="usingDirective">
				<div class="row" >
					<div class="span1">Title</div>
					<div class="span5"><input type="text" ng-model="title"/> <br /></div>
				</div>
				<div class="row">
					<div class="span1">Description</div>
					<div class="span5"><textarea type="text" multiple ng-model="des"></textarea>	 <br /></div>
				</div>
				<hr />
				<div class="row">
					<div class="span12">
						<div class="zippy" zippy-title="Details: {{title}}...">{{des}}</div>
					</div>
				</div>
			</div>
		</div>
		<hr />
		
		<div class="row">
			<div></div>
		</div>
		
	</div>
</div>

