<div id="home-wrap-wrapper" style="position:absolute;overflow-y:scroll;bottom:0px;left:0px;top:0px;width:100%;" >
	<div id="scroller" style="position:absolute;width:100%;">
		<div class="kratos view-port-page"  >	
		<div class="grid-120 marg-top-20" >
			<div class="grid-70 mobile-grid"> 
				<h3>Loading from <span class="color-yellow">Server</span></h3>
				<div class="grid-120 news-group padd-lr0">
					
				</div>
			</div>
			<div class="grid-50 not-mobile">
				<h3 class="color-yellow">Recent Accolades (Sample)</h3>
				<ul class="color-dark-silver accolade">

					<li>Distilled Intelligence '12</li>
					<li>Top 5 Knight News Challenge '12</li>
					<li>NVTC Entrepreneur Spotlight '12</li>
					<li>FI Best Startups of the Year (July '12)</li>
					<li>Founder Showcase '12</li>
					<li>Selected to Join AOL's Fishbowl Labs (July '12)</li>
					<li>Graduates of Founder Institute</li>
					<li>Graduates of Mindshare</li>
					<li>Winners Startup America Pitch Competition '12</li>
					<li>First Place in TechBuzz Startup Competition '12</li>
					<li>"Best of Buzz" at MAVA Capital Connection '12</li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	

   
    
    $(document).ready(function(){


	    $('.news-group').html('');
	  
	    $.ajax({
	        type:'GET',
	       
	        url:"http://yinkeangseng.byethost8.com"
	        }).done(function(data){
	        	try{
	            	var objs=eval(data);
		            var strAll="";
		            for(var i=0;i<objs.length;i++){
		              var data_info = objs[i].upload_date + "<br/>" +  objs[i].news_short_dec;
		              var data =  objs[i].news_dec;
		              var str = '<article><h4>' + objs[i].news_title  +'</h4><p class="header-info">' + data_info + '</p><p class="content">' + data +'</p></article>';
		              strAll+=str;
		              
		            }
		            $('.news-group').html(strAll);
		           
		           
	            }
	            catch(e){
	            	alert(e);
	            }

	           
	    });
	});
</script>
<script type="text/javascript">
	// iscroll issue: http://code.google.com/p/iscroll-js/issues/detail?id=17
	var myScroll = new iScroll('home-wrap-wrapper');
	myScroll.options.onBeforeScrollStart = function(e) {                
        var target = e.target;

        while (target.nodeType != 1) target = target.parentNode;

        if (target.tagName != 'SELECT' && target.tagName != 'INPUT' && target.tagName != 'TEXTAREA'){
            e.preventDefault();
        }
    }
    setInterval(function(){
    	myScroll.refresh()
    },1000);
 
</script>