<div class="kratos" style="margin-bottom:80px;">
	<br/>
	<div class="login grid-60 mobile-grid">
		<div class="main">
			
			<form class="grid-120">
				<h4>Complete your registration here!</h4>
				<div class="login">

					<input type="text" class="grid-120" ng-model="auth.user" placeholder="Username"/>
					<input type="password" class="grid-120" ng-model="auth.pass" placeholder="Password"/>
				</div>

				<div class="clear"></div>
				<br/>
				<button class="btn" ng-click="signup(auth)">Complete Sign Up</button>
			
			</form>
			<div class="clear"></div>
	    </div>
	</div>
</div>