.box-video{
	border:1px solid silver;
	height:220px;
	overflow: auto;
	margin-bottom: 5px;
	position: relative;
}
.box-video .icon{
	
	width:24px;
	height:24px;
	position: relative;
	top:1px;
	left:1px;
	background-color:rgba(200,200,200,1);
	z-index: 999;
	display:inline-block;

}
    .ng-hide {
    display:block!important;
     
    //this is just another form of hiding an element
    position:absolute;
    top:-9999px;
    left:-9999px;
    }
.box-video .icon.video{
	background-image:url(../img/glyphicons-halflings.png);
	background-position: 90px 40px;
}
.box-video .description{
	width:100%;
	
	
}
.box-video .description .preview{
	position: relative;
	border:1px solid rgba(200,200,200,0.4);
	width:100%;
	height:auto;
}
.box-video .description .preview img,.box-video .description .preview video{
	width:100%;
	height:170px;
}
input{color:black;}
.logo{
	
}
.left{
	float:left;
}
.right{
	float:right;
}
.hide{
	display:none !important;
	width:0px !important;
	height:0px !important;
}
.color-yellow{color:rgb(237, 190, 0);}
.color-dark-silver{color:rgb(128, 128, 128);}
.clear{clear:both;}
.center{margin:0px auto ;}
ul.accolade{margin-left:20px !important;}
header .navbar-inner .brand{
	position: relative;
	
	text-shadow: none;
	font-family: "RobotoThin";
	color: #ccc;
	font-size: 18px;
	float: left;
	text-align: center;
	margin-left: 0;
	display: inline;

	/*margin:0px auto;*/
}
.container-fluid{
	text-align: center;
}
.menu{
	float:none;
	margin: 0px auto;
	position: relative;
	width:80%;
}

.navbar-fixed-bottom .navbar-inner {
    box-shadow:none !important;
}
.nav-top{
	
	position:absolute;
	top:5px;
	right:10px;
}
.hide{
	opacity: 0;
	transition: opacity 1s;
	-webkit-transition: opacity 1s; /* Safari */
}
.show{
	opacity: 1;
	transition: opacity 1s;
	-webkit-transition: opacity 1s; /* Safari */
}
.popupBox{
	position: absolute;
	/*left:50%;*/
	right :10px;
	z-index: 99999;
	width:60%;
	top:70px;
	max-width: 450px;
}
.popupBox .main{
	position:relative;
	/*left:-50%;*/
	background-color:white;
	padding:15px;
	border-radius:10px;
	box-shadow: 0px 1px 10px black;


}
@media all and (max-width: 480px) and (min-width: 0px) {
	.popupBox{
	
	width:90%;
}
	}
form .login input{margin:0px; color:#333;}
form .login input:first-child{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;

	border-bottom-left-radius: 0px;
	height:50px;

}
form .login input:last-child{
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;

	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	height:50px;

}
/****************
/**************** News
*****************/
.news-group{}
.news-group > article p.header-info{
	color:rgb(200,200,200);
}
.news-group > article p.content{
	}
.news-group > article{
	margin-top:0px;
	margin-bottom: 0px;
}
/*
.footer-nav{
	position: fixed;
	height:30px;
	width:500px;
	bacgkround-color:black !important;
}
.footer-nav ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	height:70px;
	line-height: 70px;
}
.footer-nav ul li{
	padding: 0px;
	margin: 0px;
	display: inline-block;
	width:20%;
}
.navbar-inner{
	line-height: 40px;
}
*/