.kratos{
	/*width:960px;*/
	max-width:960px;
	margin:0px auto;
}
.kratos h1{
	font-size: 25px;
	color:#EDBE00;
}
.kratos h2{
	font-size:18px;
}

/*------------------- Page Freelencer ----------------------*/

.freelencer .title header h4{
	color:gray;
}
.freelencer{
	background-color:white;
}
.freelencer .title{
	border-bottom:1px dashed CCCCCC;
}
.freelencer .imgShow .imgContainer img{
	width:100%;
	height:auto;
}
.freelencer .cusBox1{
	background-color:#e8e8e8;
	border-radius:2px;
}
.freelencer .cusBox1 .yellowBotton{
	background-color:#EDBE00;
	border-radius:6px;
}
.freelencer .cusBox1 .yellowBotton a{
	font-size:18px;
	text-align: center;
	color:#f2e8c1;
}
.freelencer .cusBox1 .yellowBotton:hover{
	background-color:#555555;
}
.freelencer .cusBox1 .yellowBotton:hover>a{
	color:white;
}

.boxWhite .myarticle article header h4{
	color:#edbe00;
	padding-bottom:10px;
	border-bottom:1px dashed #777;
}
.boxWhite .myarticle article p{
	color:#777;
}
.boxWhite .myarticle article img{
	height:124px;
	/*border:1px solid red;*/
}
/*---------------------------- Yellow Box -------------------------*/
.boxYellow article header h4{
	background-color:#EDBE00;
	border-radius:8px 8px 0px 0px;
}
.boxYellow div article{
	border-radius:8px 8px 0px 0px;
	background-color:#e8e8e8;
}
.boxYellow article img{
	height:202px;
	/*border:1px solid red;*/
}
.boxYellow header{
	/*border-radius:8px 8px 0px 0px;*/
	/*background-color:#EDBE00;*/
}
.boxYellow header h4{
	color:#f2e8c1;
}
.boxYellow .myarticle{
	margin-bottom:20px;
}
/*----------------------------End Yellow Box -------------------------*/
/*
.myarticle p{
	padding-left:15px;
	padding-right:15px;
}*/

.borderTop{
	border-top:1px dashed #CCCCCC;
}

.profile img{
	height:203px;
}
.div-center{
	margin:0px auto;
}
.imgRadius{
	border-radius:5px;
}
.copyRight span{
	padding-left:40px;
}

/*------------------- End Page Freelencer ----------------------*/