<div class="kratos">
	<div class="grid-120 padd-lr0 freelencer table-mobile">
		<!---------------------------------- Header Title Row 1 ------------------------------------>
		<div class="grid-120 padd-lr0 title">
			<header>
				<div>
					<h1 class="marg-0 marg-top-10 text-center">Establish your credendials to the world</h1>
				</div>
				<div>
					<h4 class="marg-0 marg-bottom-10 text-center">create your profile connecte with media</h4>
				</div>
			</header>
		</div>
		<!---------------------------------- Image Show Row 2 ------------------------------------>
		<div class="grid-120 imgShow padd-lr0">
			<div class="grid-120 imgContainer marg-top-20 padd-lr0">
				<img ng-src="{{ app.paths.theme('img/cont3nt/freelencer/promobanner121.jpg') }}" alt="promobanner"/>
				<img ng-src="{{ app.paths.theme('img/cont3nt/freelencer/big_box_bottom_bg.png') }}" alt=""/>
			</div>
		</div>
		<!---------------------------------- Sign Up Row 3 ------------------------------------>
		<div class="grid-120  cusBox1 padd-20 marg-top-10">
			<div class="grid-70 padd-l0">
				<h4 class="text-left">Get Found. Get Verified. Get Published.</h4>
			</div>
			<div class="grid-50 padd-r0">
				<div class="grid-120 padd-lr0 yellowBotton">
					<a href="#" class="grid-120 padd-10">
						<span>Sign Up for your free Profile</span>
					</a>
				</div>
			</div>
		</div>
		
		<!---------------------------------- Article Row 4 ------------------------------------>
		<div class="grid-120 padd-lr0 marg-top-20 myarticle">
			
			<div class="grid-40 padd-r-5 padd-l0">
				<article>
					<header>
						<h4 class="grid-120 padd-lr0 text-center text-color-yellow">Content Creator</h4>
					</header>
					<div class="grid-120 padd-5">
						<img class="grid-120" ng-src="{{ app.paths.theme('img/cont3nt/freelencer/smallmediaid1-1.gif') }}" alt="Conent Creator"/>
					</div>
					<b><span class="grid-120 padd-lr0 padd-5 text-center">Get Found Get Trusted Get Work</span></b>
					<p class="grid-120 padd-lr-10 text-lefts">Whether you have been in the business for 20 years or you just sold your first piece 
						this year, MediaReputations.com is ready to help you display your best work and expand your ability to do business with content 
						acquirers from all over the world.
					</p>
				</article>
			</div>
			
			<div class="grid-40">
				<article>
					<header class="padd-lr-10">
						<h4 class="grid-120 padd-lr0 text-center text-color-yellow">Content Creator</h4>
					</header>
					<div class="grid-120 padd-5">
						<img class="grid-120" ng-src="{{ app.paths.theme('img/cont3nt/freelencer/top2-300x103-2.gif') }}" alt="Conent Creator"/>
					</div>
					<b><span class="grid-120 padd-lr0 padd-5 text-center">Worldwide Media Rolodex</span></b>
					<p class="grid-120 padd-lr-10 text-lefts">
						The search for great content never ends. From backpack journalists with war zone experience to Haitian Creole speaking 
						documentarians already on location, MediaReputations.com can help you find exactly the right content creator to match your 
						needs in realtime.
					</p>
				</article>
			</div>
			
			<div class="grid-40 padd-l-5 padd-r0">
				<article>
					<header>
						<h4 class="grid-120 padd-lr0 text-center text-color-yellow">Connect. Partner. Scale</h4>
					</header>
					<div class="grid-120 padd-5">
						<img class="grid-120" ng-src="{{ app.paths.theme('img/cont3nt/freelencer/partners-e1305395628196-2.jpg') }}" alt="Conent Creator"/>
					</div>
					<b><span class="grid-120 padd-lr0 padd-5 text-center">Get Found Get Trusted Get Work</span></b>
					<p class="grid-120 padd-lr-10 text-lefts">
						In the shifting world of real time media, it is more important than ever to reach into any part of the world to get the scoop. 
						MediaReputations.com offers enterprise solutions that locate, connect, & enable relationships with a global network of trusted 
						media professionals.
					</p>
				</article>
			</div>
			
		</div>
		
		<!---------------------------------- Profile Row 5 ------------------------------------>
		<div class="grid-120 cusBox1 padd-20 marg-top-20 profile">
			<div class="grid-120 padd-lr0">
				
				<div class="grid-90 padd-lr0">
					<h4 class="text-left">Featured Media Professional</h4>
				</div>
				
				<div class="grid-30 padd-lr0">
					<div class="grid-120 padd-lr0 yellowBotton">
						<a href="#" class="grid-120 padd-10">
							<span>Verified Profile</span>
						</a>
					</div>
				</div>
				
			</div>
			<br/>
			<div class="grid-120 padd-lr0 marg-top-20">
				<div class="grid-20 padd-lr0">
					<div>
						<a href="#">
							<img class="grid-120 padd-lr0 imgRadius" ng-src="{{ app.paths.theme('img/cont3nt/freelencer/profile/danielprofilephoto.jpg') }}" alt="Conent Creator"/></div>
						</a>
					<div class="grid-120 padd-lr0 padd-top-10">
						<span class="grid-120 padd-lr0 text-color-yellow"><b>Daniel Shaw</b></span>
						<span class="grid-120 padd-lr0">Freelance Cameraman</span>
					</div>
				</div>
				<div class="grid-5 padd-lr0">&nbsp;</div>
				<div class="grid-20 padd-lr0">
					<div>
						<a href="#">
							<img class="grid-120 padd-lr0 imgRadius" ng-src="{{ app.paths.theme('img/cont3nt/freelencer/profile/Scott-Profile-Photo.jpg') }}" alt="Conent Creator"/></div>
						</a>
					<div class="grid-120 padd-lr0 padd-top-10">
						<span class="grid-120 padd-lr0 text-color-yellow"><b>Scott Lunt</b></span>
						<span class="grid-120 padd-lr0">New Media Pro</span>
					</div>
				</div>
				<div class="grid-5 padd-lr0">&nbsp;</div>
				<div class="grid-20 padd-lr0">
					<div>
						<a href="#">
							<img class="grid-120 padd-lr0 imgRadius" ng-src="{{ app.paths.theme('img/cont3nt/freelencer/profile/sebastianprofilephoto.jpg') }}" alt="Conent Creator"/></div>
						</a>
					<div class="grid-120 padd-lr0 padd-top-10">
						<span class="grid-120 padd-lr0 text-color-yellow"><b>Sebastian Jonh</b></span>
						<span class="grid-120 padd-lr0">Photographer</span>
					</div>
				</div>
				<div class="grid-5 padd-lr0">&nbsp;</div>
				<div class="grid-20 padd-lr0">
					<div>
						<a href="#">
							<img class="grid-120 padd-lr0 imgRadius" ng-src="{{ app.paths.theme('img/cont3nt/freelencer/profile/oliviaprofile.jpg') }}" alt="Conent Creator"/></div>
						</a>
					<div class="grid-120 padd-lr0 padd-top-10">
						<span class="grid-120 padd-lr0 text-color-yellow"><b>Olivia Abtahi</b></span>
						<span class="grid-120 padd-lr0">File Maker</span>
					</div>
				</div>
				<div class="grid-5 padd-lr0">&nbsp;</div>
				<div class="grid-20 padd-lr0">
					<div>
						<a href="#">
							<img class="grid-120 padd-lr0 imgRadius" ng-src="{{ app.paths.theme('img/cont3nt/freelencer/profile/chriskeenerprofile.jpg') }}" alt="Conent Creator"/></div>
						</a>
					<div class="grid-120 padd-lr0 padd-top-10">
						<span class="grid-120 padd-lr0 text-color-yellow"><b>Chris Keener</b></span>
						<span class="grid-120 padd-lr0">Videographer</span>
					</div>
				</div>
			</div>
		</div>
		
		<!---------------------------------- Yellow Box Row 5 ------------------------------------>
		<div class="grid-120 padd-lr0 marg-top-20 boxYellow padd-top-20 borderTop">
			
			<div class="grid-120 padd-lr0">
				<div class="grid-40 padd-lr0">
					<article class="grid-120 padd-lr0">
						<header class="grid-120 padd-lr0">
							<h4 class="grid-120 padd-left-20 text-left">Get Your Media ID</h4>
						</header>
						<div class="grid-120 padd-top-10 padd-lr20">
							<img class="grid-120 padd-lr0 " ng-src="{{ app.paths.theme('img/cont3nt/freelencer/moreInfo/mediaidandiphone4 (1).gif') }}" alt="Conent Creator"/>
						</div>
						<b><span class="grid-120 padd-top-10 padd-lr0 padd-lr20 text-center">Your Credentials in the plam of your hand</span></b>
						<p class="grid-120 padd-lr20 text-lefts">
							Get your very own Verified Media ID, use it to establish your credentials, get access to exclusive events, and represent 
							your media status anywhere you go.
						</p>
					</article>
				</div>
				<!-- <div class="grid-40 padd-lr20"> -->
				<div class="grid-40 padd-lr0 padd-lr20">
					<article class="grid-120 padd-lr0">
						<header class="grid-120 padd-lr0">
							<h4 class="grid-120 padd-left-20 text-left">Establish Your Cridibility</h4>
						</header>
						<div class="grid-120 padd-top-10 padd-lr20">
							<img class="grid-120 padd-lr0 " ng-src="{{ app.paths.theme('img/cont3nt/freelencer/moreInfo/sitebadgeimage4.gif') }}" alt="Conent Creator"/>
						</div>
						<b><span class="grid-120 padd-top-10 padd-lr0 padd-lr20 text-center">Display Reputation on Your Website or Blog</span></b>
						<p class="grid-120 padd-lr20 text-lefts">
							Verified identity is the basis of trust. Display a badge on your site/blog to establish authenticity for 
							visitors, or embed in a pitch to establish your credentials.
						</p>
					</article>
				</div>
				<!-- </div> -->
				<div class="grid-40 padd-lr0">
					<article class="grid-120 padd-lr0">
						<header class="grid-120 padd-lr0">
							<h4 class="grid-120 padd-left-20 text-left">Spread the World</h4>
						</header>
						<div class="grid-120 padd-top-10 padd-lr20">
							<img class="grid-120 padd-lr0 " ng-src="{{ app.paths.theme('img/cont3nt/freelencer/moreInfo/partners-e1305395628196-2.jpg') }}" alt="Conent Creator"/>
						</div>
						<b><span class="grid-120 padd-top-10 padd-lr0 padd-lr20 text-center">dfsdfs</span></b>
						<p class="grid-120 padd-lr20 text-lefts">
							Get your very own Verified Media ID, use it to establish your credentials, get access to exclusive events, and represent 
							your media status anywhere you go.
						</p>
					</article>
				</div>

			</div>
			
			
			<div class="grid-120 padd-lr0 padd-top-20">
				<div class="grid-40 padd-lr0">
					<article class="grid-120 padd-lr0">
						<header class="grid-120 padd-lr0">
							<h4 class="grid-120 padd-left-20 text-left">Get Your Media ID</h4>
						</header>
						<div class="grid-120 padd-top-10 padd-lr20">
							<img class="grid-120 padd-lr0 " ng-src="{{ app.paths.theme('img/cont3nt/freelencer/moreInfo/mediaidandiphone4 (1).gif') }}" alt="Conent Creator"/>
						</div>
						<b><span class="grid-120 padd-top-10 padd-lr0 padd-lr20 text-center">Your Credentials in the plam of your hand</span></b>
						<p class="grid-120 padd-lr20 text-lefts">
							Get your very own Verified Media ID, use it to establish your credentials, get access to exclusive events, and represent 
							your media status anywhere you go.
						</p>
					</article>
				</div>
				<div class="grid-40 padd-lr0 padd-lr20">
					<article class="grid-120 padd-lr0">
						<header class="grid-120 padd-lr0">
							<h4 class="grid-120 padd-left-20 text-left">Establish Your Cridibility</h4>
						</header>
						<div class="grid-120 padd-top-10 padd-lr20">
							<img class="grid-120 padd-lr0 " ng-src="{{ app.paths.theme('img/cont3nt/freelencer/moreInfo/sitebadgeimage4.gif') }}" alt="Conent Creator"/>
						</div>
						<b><span class="grid-120 padd-top-10 padd-lr0 padd-lr20 text-center">Display Reputation on Your Website or Blog</span></b>
						<p class="grid-120 padd-lr20 text-lefts">
							Verified identity is the basis of trust. Display a badge on your site/blog to establish authenticity for 
							visitors, or embed in a pitch to establish your credentials.
						</p>
					</article>
				</div>
				<!-- </div> -->
				<div class="grid-40 padd-lr0">
					<article class="grid-120 padd-lr0">
						<header class="grid-120 padd-lr0">
							<h4 class="grid-120 padd-left-20 text-left">Spread the World</h4>
						</header>
						<div class="grid-120 padd-top-10 padd-lr20">
							<img class="grid-120 padd-lr0 " ng-src="{{ app.paths.theme('img/cont3nt/freelencer/moreInfo/partners-e1305395628196-2.jpg') }}" alt="Conent Creator"/>
						</div>
						<b><span class="grid-120 padd-top-10 padd-lr0 padd-lr20 text-center">dfsdfs</span></b>
						<p class="grid-120 padd-lr20 text-lefts">
							Get your very own Verified Media ID, use it to establish your credentials, get access to exclusive events, and represent 
							your media status anywhere you go.
						</p>
					</article>
				</div>
			</div>
		</div>
		
		<div class="grid-120 padd-lr0 marg-top-30 padd-tb20 borderTop">
			<div class="grid-60 padd-lr0 padd-tb-10"><span>Copyright Cont3nt.com © 2013 All rights reserved</span></div>
			<div class="grid-60 padd-lr0">
				<a href="#" class="right"><span><img ng-src="{{ app.paths.theme('img/cont3nt/icon/facebook.png') }}" alt="facebook"/></span></a>
				<a href="#" class="right padd-r-5"><span><img ng-src="{{ app.paths.theme('img/cont3nt/icon/twitter.png') }}" alt="twitter"/></span></a>
				<a href="#" class="right padd-r-5"><span><img ng-src="{{ app.paths.theme('img/cont3nt/icon/rss.png') }}" alt="rss"/></span></a>
			</div>
		</div>
		
		<div class="grid-120" style="margin-bottom:100px"></div>
	</div>
</div>
