
<script type="text/javascript">
	$(document).ready(function(){
		
// 		BxSlider
		$('.bxslider').bxSlider({
			//mode: 'fade',
		  	// captions: true
		  	auto: true,
		  	// speed: 3000,
  			// autoControls: true
		});
	});
</script>
<div class="kratos tablet-padd-lr-10">
	<div class="grid-120" style="margin-top:10px">&nbsp;</div>
	<div class="grid-120 padd-lr0 freelencer table-mobile">
		<!---------------------------------- Header Title Row 1 ------------------------------------>
		<div class="grid-120 padd-lr0 title">
			<header class="grid-120 padd-lr0">
				<div class="grid-120 padd-lr0">
					<h1 class="grid-120 marg-top-10 padd-lr5 div-center text-center" style="color:rgb(237, 190, 0);">Establish your credendials to the world</h1>
				</div>
				<div class="grid-120 padd-lr0">
					<h4 class="grid-120 marg-bottom-10 text-center">create your profile connecte with media</h4>
				</div>
			</header>
		</div>
		<!---------------------------------- Image Show Row 2 ------------------------------------>
		<div class="grid-120 imgShow padd-lr0">
			<div class="grid-120 imgContainer marg-top-20 padd-lr0">
				<ul class="bxslider marg-0">	
					<li><img ng-src="{{ app.paths.theme('img/cont3nt/freelencer/promobanner121.jpg') }}" alt=""/></li>
					<li><img ng-src="{{ app.paths.theme('img/cont3nt/freelencer/promobanner14.jpg') }}" alt=""/></li>
					<li><img ng-src="{{ app.paths.theme('img/cont3nt/freelencer/promobanner41.jpg') }}" alt=""/></li>
				</ul>
				<!-- <img ng-src="{{ app.paths.theme('img/cont3nt/freelencer/promobanner121.jpg') }}" alt="promobanner"/>
				<img ng-src="{{ app.paths.theme('img/cont3nt/freelencer/big_box_bottom_bg.png') }}" alt=""/> -->			</div>
		</div>
		<!---------------------------------- Sign Up Row 3 ------------------------------------>
		<div class="grid-120  cusBox1 padd-20 padd-lr15 marg-top-10">
			<div class="grid-70 padd-l0 mobile-grid">
				<h4 class="text-left marg-top-10">Get Found. Get Verified. Get Published.</h4>
			</div>
			<div class="grid-50 padd-r0 mobile-grid">
				<div class="grid-120 padd-lr0 yellowBotton">
					<a href="#/pages/construction" class="grid-120 padd-10">
						<span>Sign Up for your free Profile</span>
					</a>
				</div>
			</div>
		</div>
		
		<!---------------------------------- Article Row 4 ------------------------------------>
		<div class="grid-120 padd-lr0 boxWhite">
			<div class="grid-120 padd-lr0 marg-top-10 myarticle">
				
				<div class="grid-40 padd-lr0 tablet-60 mobile-grid">
					<article>
						<header class="grid-120 padd-lr15">
							<h4 class="grid-120 padd-lr0 padd-tb10 marg-0 marg-top-10 marg-bottom-10 text-center text-color-yellow">Content Creator</h4>
						</header>
						<div class="grid-120 padd-lr15">
							<img class="grid-120 padd-lr0" ng-src="{{ app.paths.theme('img/cont3nt/freelencer/smallmediaid1-1.gif') }}" alt="Conent Creator"/>
						</div>
						<div class="grid-120 padd-lr15 padd-tb10">
							<b><span class="grid-120 padd-lr0 text-center">Get Found. Get Trusted. Get Work.</span></b>
							<p class="grid-120 padd-lr0 text-lefts">Whether you have been in the business for 20 years or you just sold your first piece 
								this year, MediaReputations.com is ready to help you display your best work and expand your ability to do business with content 
								acquirers from all over the world.
							</p>
						</div>
					</article>
				</div>
				
				<div class="grid-40 padd-lr0 tablet-60 mobile-grid">
					<article>
						<header class="grid-120 padd-lr15">
							<h4 class="grid-120 padd-lr0 padd-tb10 marg-0 marg-top-10 marg-bottom-10 text-center text-color-yellow">Editor and Producer</h4>
						</header>
						<div class="grid-120 padd-lr15">
							<img class="grid-120 padd-lr0" ng-src="{{ app.paths.theme('img/cont3nt/freelencer/top2-300x103-2.gif') }}" alt="Conent Creator"/>
						</div>
						<div class="grid-120 padd-lr15 padd-tb10">
							<b><span class="grid-120 padd-lr0 text-center">Worldwide Media Rolodex</span></b>
							<p class="grid-120 padd-lr0 text-lefts">
								The search for great content never ends. From backpack journalists with war zone experience to Haitian Creole speaking 
								documentarians already on location, MediaReputations.com can help you find exactly the right content creator to match your 
								needs in realtime.
							</p>
						</div>
					</article>
				</div>
				
				<div class="grid-40 padd-lr0 tablet-60 mobile-grid">
					<article>
						<header class="grid-120 padd-lr15">
							<h4 class="grid-120 padd-lr0 padd-tb10 marg-0 marg-top-10 marg-bottom-10 text-center text-color-yellow">Media Execusives</h4>
						</header>
						<div class="grid-120 padd-lr15">
							<img class="grid-120 padd-lr0" ng-src="{{ app.paths.theme('img/cont3nt/freelencer/partners-e1305395628196-2.jpg') }}" alt="Conent Creator"/>
						</div>
						<div class="grid-120 padd-lr15 padd-tb10">
							<b><span class="grid-120 padd-lr0 text-center">Connect. Partner. Scale.</span></b>
							<p class="grid-120 padd-lr0 text-lefts">
								In the shifting world of real time media, it is more important than ever to reach into any part of the world to get the scoop. 
								MediaReputations.com offers enterprise solutions that locate, connect, & enable relationships with a global network of trusted 
								media professionals.
							</p>
						</div>
					</article>
				</div>

			</div>
		</div>
		
		<!---------------------------------- Profile Row 5 ------------------------------------>
		<div class="grid-120 cusBox1 padd-20 padd-lr15 marg-top-20 profile">
			<div class="grid-120 padd-lr0">
				
				<div class="grid-90 padd-lr0 mobile-grid">
					<h4 class="text-left marg-top-10">Featured Media Professional</h4>
				</div>
				
				<div class="grid-30 padd-lr0 mobile-grid">
					<div class="grid-120 padd-lr0 yellowBotton">
						<a href="#/pages/construction" class="grid-120 padd-10">
							<span>Verified Profile</span>
						</a>
					</div>
				</div>
				
			</div>
			<br/>
			<div class="grid-120 padd-lr0 marg-top-10">
				<div class="grid-20 padd-lr0 marg-top-10 mobile-60 mobile-lr-10 mobile-l-0">
					<div>
						<a href="#/pages/construction">
							<img class="grid-120 padd-lr0 imgRadius" ng-src="{{ app.paths.theme('img/cont3nt/freelencer/profile/danielprofilephoto.jpg') }}" alt="Conent Creator"/></div>
						</a>
					<div class="grid-120 padd-lr0 padd-top-10">
						<span class="grid-120 padd-lr0 text-color-yellow"><b>Daniel Shaw</b></span>
						<span class="grid-120 padd-lr0">Cameraman</span>
					</div>
				</div>
				<div class="grid-5 padd-lr0 not-mobile">&nbsp;</div>
				<div class="grid-20 padd-lr0 marg-top-10 mobile-60 mobile-lr-10 mobile-r-0">
					<div>
						<a href="#/pages/construction">
							<img class="grid-120 padd-lr0 imgRadius" ng-src="{{ app.paths.theme('img/cont3nt/freelencer/profile/Scott-Profile-Photo.jpg') }}" alt="Conent Creator"/></div>
						</a>
					<div class="grid-120 padd-lr0 padd-top-10">
						<span class="grid-120 padd-lr0 text-color-yellow"><b>Scott Lunt</b></span>
						<span class="grid-120 padd-lr0">New Media Pro</span>
					</div>
				</div>
				<div class="grid-5 padd-lr0 not-mobile">&nbsp;</div>
				<div class="grid-20 padd-lr0 marg-top-10 mobile-60 mobile-lr-10 mobile-l-0">
					<div>
						<a href="#/pages/construction">
							<img class="grid-120 padd-lr0 imgRadius" ng-src="{{ app.paths.theme('img/cont3nt/freelencer/profile/sebastianprofilephoto.jpg') }}" alt="Conent Creator"/></div>
						</a>
					<div class="grid-120 padd-lr0 padd-top-10">
						<span class="grid-120 padd-lr0 text-color-yellow"><b>Sebastian Jonh</b></span>
						<span class="grid-120 padd-lr0">Photographer</span>
					</div>
				</div>
				<div class="grid-5 padd-lr0 not-mobile">&nbsp;</div>
				<div class="grid-20 padd-lr0 marg-top-10 mobile-60 mobile-lr-10 mobile-r-0">
					<div>
						<a href="#/pages/construction">
							<img class="grid-120 padd-lr0 imgRadius" ng-src="{{ app.paths.theme('img/cont3nt/freelencer/profile/oliviaprofile.jpg') }}" alt="Conent Creator"/></div>
						</a>
					<div class="grid-120 padd-lr0 padd-top-10">
						<span class="grid-120 padd-lr0 text-color-yellow"><b>Olivia Abtahi</b></span>
						<span class="grid-120 padd-lr0">File Maker</span>
					</div>
				</div>
				<div class="grid-5 padd-lr0 not-mobile">&nbsp;</div>
				<div class="grid-20 padd-lr0 marg-top-10 mobile-60 mobile-lr-10 mobile-l-0">
					<div>
						<a href="#/pages/construction">
							<img class="grid-120 padd-lr0 imgRadius" ng-src="{{ app.paths.theme('img/cont3nt/freelencer/profile/chriskeenerprofile.jpg') }}" alt="Conent Creator"/></div>
						</a>
					<div class="grid-120 padd-lr0 padd-top-10">
						<span class="grid-120 padd-lr0 text-color-yellow"><b>Chris Keener</b></span>
						<span class="grid-120 padd-lr0">Videographer</span>
					</div>
				</div>
			</div>
		</div>
		
		<!---------------------------------- Yellow Box Row 5 ------------------------------------>
		
		<div class="grid-120 padd-lr0 boxYellow">
			<div class="grid-120 padd-lr0 marg-top-20 myarticle">
				
				<div class="grid-40 padd-lr0 tablet-60 mobile-grid">
					<article>
						<header class="grid-120 padd-lr15">
							<h4 class="grid-120 padd-lr0 padd-tb10 marg-0 marg-top-10 text-center text-color-yellow">Get Your Media ID</h4>
						</header>
						<div class="grid-120 padd-lr15">
							<img class="grid-120 padd-lr0 " ng-src="{{ app.paths.theme('img/cont3nt/freelencer/moreInfo/mediaidandiphone4 (1).gif') }}" alt="Conent Creator"/>
						</div>
						<div class="grid-120 padd-lr15 padd-tb10">
							<b><span class="grid-120 padd-lr0 text-center">Your Credentials in the plam of your hand</span></b>
							<p>
								Get your very own Verified Media ID, use it to establish your credentials, get access to exclusive events, and represent 
								your media status anywhere you go.
							</p>
						</div>
					</article>
				</div>
				
				<div class="grid-40 padd-lr0 tablet-60 mobile-grid">
					<article>
						<header class="grid-120 padd-lr15">
							<h4 class="grid-120 padd-lr0 padd-tb10 marg-0 marg-top-10 text-center text-color-yellow">Establish Your Cridibility</h4>
						</header>
						<div class="grid-120 padd-lr15">
							<img class="grid-120 padd-lr0" ng-src="{{ app.paths.theme('img/cont3nt/freelencer/moreInfo/sitebadgeimage4.gif') }}" alt="Conent Creator"/>
						</div>
						<div class="grid-120 padd-lr15 padd-tb10">
							<b><span class="grid-120 padd-lr0 text-center">Display Reputation on Your Website or Blog</span></b>
							<p class="grid-120 padd-lr0 text-lefts">
								Verified identity is the basis of trust. Display a badge on your site/blog to establish authenticity for 
								visitors, or embed in a pitch to establish your credentials.
							</p>
						</div>
					</article>
				</div>
				
				<div class="grid-40 padd-lr0 tablet-60 mobile-grid">
					<article>
						<header class="grid-120 padd-lr15">
							<h4 class="grid-120 padd-lr0 padd-tb10 marg-0 marg-top-10 text-center text-color-yellow">Extended Media Profile</h4>
						</header>
						<div class="grid-120 padd-lr15">
							<img class="grid-120 padd-lr0" ng-src="{{ app.paths.theme('img/cont3nt/freelencer/moreInfo/profile.gif') }}" alt="Conent Creator"/>
						</div>
						<div class="grid-120 padd-lr15 padd-tb10">
							<b><span class="grid-120 padd-lr0 text-center">The Most Comprehensive Media Profile anywhere</span></b>
							<p class="grid-120 padd-lr0 text-lefts">
								The most comprehensive media profile on the web & extensive search by all criteria allows companies to find
								partners that are representing any combination of skillset, location, & availability.
							</p>
						</div>
					</article>
				</div>
				
				<div class="grid-40 padd-lr0 tablet-60 mobile-grid">
					<article>
						<header class="grid-120 padd-lr15">
							<h4 class="grid-120 padd-lr0 padd-tb10 marg-0 marg-top-10 text-center text-color-yellow">Portfolio and Credits</h4>
						</header>
						<div class="grid-120 padd-lr15">
							<img class="grid-120 padd-lr0" ng-src="{{ app.paths.theme('img/cont3nt/freelencer/moreInfo/portfolio.gif') }}" alt="Conent Creator"/>
						</div>
						<div class="grid-120 padd-lr15 padd-tb10">
							<b><span class="grid-120 padd-lr0 text-center">Showcase Your Portfolio, Your Credits and  Bylines</span></b>
							<p class="grid-120 padd-lr0 text-lefts">
								The cleanest & most effective canvas to showcase your work & credentials in a beautiful 
								online profile. Skills Badges identify your skills & specialties at a glance.
							</p>
						</div>
					</article>
				</div>
				
			</div>
		</div>
		
		<div class="grid-120 padd-lr0 marg-top-30 padd-tb20 mobile-grid-padd borderTop">
			<div class="grid-100 padd-lr0 padd-tb-10 padd-left-20 mobile-grid-padd mobile-grid-center-text-center copyRight"><span class="mobile-lr-0">Copyright Cont3nt.com © 2013 All rights reserved</span></div>
			<div class="grid-20 padd-lr0 mobile-grid-center-text-center mobile-marg-top-10">
				<div class="padd-lr0 div-center" style="width:100px">
					<a href="#/pages/construction" class="padd-r-5"><span><img ng-src="{{ app.paths.theme('img/cont3nt/icon/facebook.png') }}" alt="facebook"/></span></a>
					<a href="#/pages/construction" class="padd-r-5"><span><img ng-src="{{ app.paths.theme('img/cont3nt/icon/twitter.png') }}" alt="twitter"/></span></a>
					<a href="#/pages/construction" class=" padd-r-5"><span><img ng-src="{{ app.paths.theme('img/cont3nt/icon/rss.png') }}" alt="rss"/></span></a>
				</div>
			</div>
		</div>
		
		<div class="grid-120" style="margin-bottom:100px"></div>
	</div>
</div>
<script type="text/javascript">
	$("#wrapper").niceScroll({touchbehavior:true}); // First scrollable DIV
</script>