
<div class="kratos marg-top-30 tablet-padd-lr-10">
	<div class="grid-120" style="margin-top:10px">&nbsp;</div>
	<div class="grid-120 padd-lr0 media">
		<!---------------------------------- Header Title Row 1 ------------------------------------>
		<div class="grid-120 padd-lr0 title padd-tb10">
			<header class="grid-120 padd-lr0">
				<div class="grid-120 padd-lr0">
					<span class="grid-120 marg-top-10 padd-lr5 div-center text-center">Content Exchange</span>
				</div>
				<div class="grid-120 padd-lr0 padd-top-10">
					<span class="grid-120 marg-bottom-10 text-center">A private content exchange to collect media from contributors, share with affiliaes, and license to partners</span>
				</div>
			</header>
		</div>
		
		<!---------------------------------- Image Show Row 2 ------------------------------------>
		<div class="grid-120 padd-lr0 imgShow padd-20 padd-lr20 marg-tb20">
			<img class="grid-120 padd-lr0" ng-src="{{ app.paths.theme('img/cont3nt/media/top2.gif') }}" alt=""/>
		</div>
		
		<!---------------------------------- Message Row 2 ------------------------------------>
		<div class="grid-120 padd-lr0 message">
			<p>
				A pipeline of premium video content and breaking news to acquire on your
				own terms. Manage thousands of partners.Seamlessly ingest high def files,
				rights and metadata. Organize in one simple dashboard and connet to your systems.
			</p>
		</div>
		
		<!---------------------------------- Two Box Gray Row 3 ------------------------------------>
		<div class="grid-120 padd-lr0 twobox marg-tb20">
			<div class="grid-60 padd-l0 padd-right-20 mobile-grid">
				<div class="grid-120 padd-lr20 padd-20 boxRadius-Top">
					<div class="grid-120 padd-lr0"><h3>The Content Exchange</h3></div>
					<div class="grid-120 padd-lr0 padd-tb10 banner">
						<img class="grid-120 padd-lr0 imgRadius" ng-src="{{ app.paths.theme('img/cont3nt/media/middle.gif') }}" alt=""/>
					</div>
					<div class="grid-120 padd-lr0">
						<p>No more emails, phone-calls, ftp drops and fedex deliveries. The Content Exchange enables large media enterprises to 
						manage their networks of contributors, content, and rights from a centralized location. 
						<br/><br />
						Thousands of users – be they stringers, affiliates, or partners can now submit content in a standard format defined by 
						your organization and managed by your editors and producers in an intuitive dashboard.
						
						</p>
						<br />
					</div>
				</div>
			</div>
			<div class="grid-60 padd-r0 padd-left-20 mobile-grid">
				<div class="grid-120 padd-lr20 padd-20 boxRadius-Top">
					<div class="grid-120 padd-lr0"><h3>System Integration Services</h3></div>
					<div class="grid-120 padd-lr0 padd-tb10 banner">
						<img class="grid-120 padd-lr0 imgRadius" ng-src="{{ app.paths.theme('img/cont3nt/media/apisandftp.jpg') }}" alt=""/>
					</div>
					<div class="grid-120 padd-lr0">
						<p>
							System Integration Services deploy custom services for media organizations and develop API and FTP based tie-ins to 
							various content management systems that allow enterprises to connect their systems to one another directly without the overhead caused by manual intervention. 
							<br/><br />
							We can connect you directly to all your partners and affiliates that use different CMS/DAM/MAM platforms for a 
							seamless transmission of content.
						</p>
						<br />
					</div>
				</div>
			</div>
		</div>
		
		<!---------------------------------- Yellow Box 1 Row 4 ------------------------------------>
		<div class="grid-120 padd-lr0 padd-lr20 padd-tb20 yellowBox boxRadius">
			<div class="grid-90 padd-lr0 mobile-grid">
				<h4 class="text-left marg-top-10 marg-bottom-10">No More Content? Need to lower transaction costs?</h4>
			</div>
				
			<div class="grid-30 padd-lr0 mobile-grid">
				<div class="grid-120 padd-lr0 buttongray">
					<a href="#/pages/construction" class="grid-120 padd-10 boxRadius">
						<span><b>Get In Touch!</b></span>
					</a>
				</div>
			</div>
		</div>
		
		
		<!---------------------------------- White Box 1 Row 4 ------------------------------------>
		<div class="grid-120 padd-lr0 marg-tb20 whitebox">
			<div class="grid-30 padd-l0 padd-right-20 tablet-grid mobile-grid">
				<div class="grid-120 padd-lr0 padd-tb10"><h4>Sell , License, &  Syndicate</h4></div>
				<div class="grid-120 padd-lr0 padd-tb10 tablet-grid-img banner">
					<img class="grid-120 padd-lr0 tablet-img-height-banner mobile-img-height-banner" ng-src="{{ app.paths.theme('img/cont3nt/media/more/exchangeimage.jpg') }}" alt=""/>
				</div>
				<div class="grid-120 padd-lr0">
					<span><b>Total control over your content, licensing , and distribution</b></span>
					<p>The system is designed with real-time transactions in mind. Upload, set license & pricing, set 
					distribution and collect revenues. Sell globally or locally.</p>
				</div>
			</div>
			
			<div class="grid-30 padd-l0 padd-right-20 tablet-grid mobile-grid">
				<div class="grid-120 padd-lr0 padd-tb10"><h4>Share, Send, & Collaborate</h4></div>
				<div class="grid-120 padd-lr0 padd-tb10 tablet-grid-img banner">
					<img class="grid-120 padd-lr0 tablet-img-height-banner mobile-img-height-banner" ng-src="{{ app.paths.theme('img/cont3nt/media/more/sharecontent.png') }}" alt=""/>
				</div>
				<div class="grid-120 padd-lr0">
					<span><b>Securely receive or deliver video and multimedia in real time to andone in or out of your system.</b></span>
					<p>Manage rights & licenses. Track views & downloads. Standardize formats & submission criteria.</p>
				</div>
			</div>
			<div class="grid-30 padd-l0 padd-right-20 tablet-grid mobile-grid">
				<div class="grid-120 padd-lr0 padd-tb10"><h4>Transcode, Store, & Deliver</h4></div>
				<div class="grid-120 padd-lr0 padd-tb10 tablet-grid-img banner">
					<img class="grid-120 padd-lr0 tablet-img-height-banner mobile-img-height-banner" ng-src="{{ app.paths.theme('img/cont3nt/media/more/transcode.png') }}" alt=""/>
				</div>
				<div class="grid-120 padd-lr0">
					<span><b>On-demand enterprise transcoding to and from every major media format.</b></span>
					<p>Real time distribution of both transcoded and original source files of any size or type. 
						Blazing fast speeds, scalable, reliable, & secure.
					</p>
				</div>
			</div>
			<div class="grid-30 padd-lr0 padd-right-20 tablet-grid mobile-grid">
				<div class="grid-120 padd-lr0 padd-tb10"><h4>Manage Partners & Contributors</h4></div>
				<div class="grid-120 padd-lr0 padd-tb10 tablet-grid-img banner">
					<img class="grid-120 padd-lr0 tablet-img-height-banner mobile-img-height-banner" ng-src="{{ app.paths.theme('img/cont3nt/media/more/partners-e1305395628196.jpg') }}" alt=""/>
				</div>
				<div class="grid-120 padd-lr0">
					<span><b>Organize incoming content from thousands of partners,contributors, and affiliates.</b></span>
					<p>Syndicate around the world with a click. Collect and deliver original files at high speed. Get 
						notified of submissions in real-time..</p>
				</div>
			</div>
			
		</div>
		
		<!---------------------------------- Yellow Box 1 Row 4 ------------------------------------>
		<div class="grid-120 padd-lr0 padd-lr20 padd-tb20 yellowBox boxRadius">
			<div class="grid-90 padd-lr0 mobile-grid">
				<h4 class="text-left marg-top-10 marg-bottom-10">Need More Real-Time Content? Need to lower costs?</h4>
			</div>
				
			<div class="grid-30 padd-lr0 mobile-grid">
				<div class="grid-120 padd-lr0 buttongray">
					<a href="#/pages/construction" class="grid-120 padd-10 boxRadius">
						<span><b>Get In Touch!</b></span>
					</a>
				</div>
			</div>
		</div>
		
		<div class="grid-120 padd-lr0 marg-top-30 padd-tb20 mobile-grid-padd borderTop">
			<div class="grid-100 padd-lr0 padd-tb-10 padd-left-20 mobile-grid-padd mobile-grid-center-text-center copyRight"><span class="mobile-lr-0">Copyright Cont3nt.com © 2013 All rights reserved</span></div>
			<div class="grid-20 padd-lr0 mobile-grid-center-text-center mobile-marg-top-10">
				<div class="padd-lr0 div-center" style="width:100px">
					<a href="#/pages/construction" class="padd-r-5"><span><img ng-src="{{ app.paths.theme('img/cont3nt/icon/facebook.png') }}" alt="facebook"/></span></a>
					<a href="#/pages/construction" class="padd-r-5"><span><img ng-src="{{ app.paths.theme('img/cont3nt/icon/twitter.png') }}" alt="twitter"/></span></a>
					<a href="#/pages/construction" class=" padd-r-5"><span><img ng-src="{{ app.paths.theme('img/cont3nt/icon/rss.png') }}" alt="rss"/></span></a>
				</div>
			</div>
		</div>
		<div class="grid-120" style="margin-bottom:100px">&nbsp;</div>
	</div>
</div>
<script type="text/javascript">

var scroll1;
function loaded() {
	scroll1 = new iScroll('#wrapper');
}

document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
document.addEventListener('DOMContentLoaded', loaded, false);
$("#wrapper").niceScroll({touchbehavior:true});
</script>