<div class="kratos marg-top-30 tablet-padd-lr-10">
	<div class="grid-120 padd-lr0 media table-mobile">
		<!---------------------------------- Header Title Row 1 ------------------------------------>
		<div class="grid-120 padd-lr0 title padd-tb10">
			<header>
				<div class="grid-120 padd-lr0">
					<span class="grid-120 marg-top-10 padd-lr5 div-center text-center">Content Exchange</span>
				</div>
				<div class="grid-120 padd-lr0 padd-top-10">
					<span class="grid-120 marg-bottom-10 text-center">A private content exchange to collect media from contributors, share with affiliaes, and license to partners</span>
				</div>
			</header>
		</div>
		
		<!---------------------------------- Image Show Row 2 ------------------------------------>
		<div class="grid-120 padd-lr0 imgShow padd-20 padd-lr20 marg-tb20">
			<img class="grid-120 padd-lr0" ng-src="{{ app.paths.theme('img/cont3nt/media/top2.gif') }}" alt=""/>
		</div>
		
		<!---------------------------------- Message Row 2 ------------------------------------>
		<div class="grid-120 padd-lr0 message">
			<p>
				A pipeline of premium video content and breaking news to acquire on your
				own terms. Manage thousands of partners.Seamlessly ingest high def files,
				rights and metadata. Organize in one simple dashboard and connet to your systems.
			</p>
		</div>
		
		<!---------------------------------- Two Box Gray Row 3 ------------------------------------>
		<div class="grid-120 padd-lr0 twobox marg-tb20">
			<div class="grid-60 padd-l0 padd-right-20">
				<div class="grid-120 padd-lr20 padd-20 boxRadius-Top">
					<div class="grid-120 padd-lr0"><h3>The Content Exchange</h3></div>
					<div class="grid-120 padd-lr0 padd-tb10 banner">
						<img class="grid-120 padd-lr0 imgRadius" ng-src="{{ app.paths.theme('img/cont3nt/media/middle.gif') }}" alt=""/>
					</div>
					<div class="grid-120 padd-lr0">
						<p>No more emails, phone-calls, ftp drops and fedex deliveries. The Content Exchange enables large media enterprises to 
						manage their networks of contributors, content, and rights from a centralized location. 
						<br/><br />
						Thousands of users – be they stringers, affiliates, or partners can now submit content in a standard format defined by 
						your organization and managed by your editors and producers in an intuitive dashboard.
						
						</p>
						<br />
					</div>
				</div>
			</div>
			<div class="grid-60 padd-r0 padd-left-20">
				<div class="grid-120 padd-lr20 padd-20 boxRadius-Top">
					<div class="grid-120 padd-lr0"><h3>System Integration Services</h3></div>
					<div class="grid-120 padd-lr0 padd-tb10 banner">
						<img class="grid-120 padd-lr0 imgRadius" ng-src="{{ app.paths.theme('img/cont3nt/media/apisandftp.jpg') }}" alt=""/>
					</div>
					<div class="grid-120 padd-lr0">
						<p>
							System Integration Services deploy custom services for media organizations and develop API and FTP based tie-ins to 
							various content management systems that allow enterprises to connect their systems to one another directly without the overhead caused by manual intervention. 
							<br/><br />
							We can connect you directly to all your partners and affiliates that use different CMS/DAM/MAM platforms for a 
							seamless transmission of content.
						</p>
						<br />
					</div>
				</div>
			</div>
		</div>
		
		<!---------------------------------- Yellow Box 1 Row 4 ------------------------------------>
		<div class="grid-120 padd-lr0 padd-lr20 padd-tb20 yellowBox boxRadius">
			<div class="grid-90 padd-lr0 mobile-grid">
				<h4 class="text-left marg-top-10">Featured Media Professional</h4>
			</div>
				
			<div class="grid-30 padd-lr0 mobile-grid">
				<div class="grid-120 padd-lr0 button boxRadius">
					<a href="#" class="grid-120 padd-10">
						<span>Verified Profile</span>
					</a>
				</div>
			</div>
		</div>
		
		
		
		
		
		
		<div class="grid-120" style="margin-bottom:100px">&nbsp;</div>
	</div>
</div>