<div style="padding-top:30px;">
	<div class="leftContentPress">
		<div id="abt" style="margin-top:17px;">		
			<div width=100%>
			<img src="http://company.cont3nt.com/files/2012/03/contentdotcomlogo1-e1330592678970.png" alt="cont3nt.com" 
			style="width:50%;padding:20px 25%;"/>
			</div>
			<iframe src="http://player.vimeo.com/video/6915947?title=0&amp;byline=0&amp;portrait=0" frameborder="0" width=60%; height=auto style="margin: auto 20%;"></iframe>	
			<div style="padding:15px 15px;">
			<p>Cont3nt.com is a real-time marketplace for breaking phot and video journalism<br/>
				<br/>
			Our e-commerce platform enables a reporter in Libya, Syria, or Occupy Wall Street to sell their breaking news footage to the BBC or their local paper and have it published in a half-hour.
			<br/><br/>
			Join us in creating the first global market for the press!
			<br/><br/>
			<button class="nlhBTNPress">Cont3nt.com</button><br/>
			<button class="nlhBTNPress">MediaReputations.com</button><br/>
			<button class="nlhBTNPress">Altweeklies.cont3nt.com</button><br/>
			</p>				
			</div>
		</div>
	</div>
	<div class="centerContentPress">
		<div width=100%>
			<h2 class="h2Dotted" style="margin-left:0px;color:#edbe00">Recent Press</h2>
			
			<img src="http://company.cont3nt.com/files/2013/01/bisnow.gif" alt="cont3nt.com" 
			style="width:auto;padding-right:50%;padding-bottom:10px;"/>	
			<br/>		
			<a class="aBlog"href="http://www.bisnow.com/tech/2012/12/05/interrupting-getty-images/">BisNow - Interrupting Getty Images Grip
			</a>

			<img src="http://company.cont3nt.com/files/2013/01/Washington-post-logo.gif" alt="cont3nt.com" 
			style="width:50%;padding-right:50%;padding-bottom:10px;padding-top:10px;"/>			
			<a class="aBlog"href="http://www.washingtonpost.com/blogs/capital-business/post/meet-the-winners-of-the-seed-stage-contest-at-distilled-intelligence/2012/10/15/c4cc2162-16f0-11e2-8792-cf5305eddf60_blog.html">Washington Post - Meet the winners of Distilled Intelligence
			</a>

			<img src="http://company.cont3nt.com/files/2013/01/inthecapital_logo.png" alt="cont3nt.com" 
			style="width:50%;padding-right:50%;padding-bottom:10px;padding-top:10px;"/>			
			<a class="aBlog"href="http://inthecapital.com/2012/10/12/the-official-distilled-intelligence-2-0-winners-are-pics/">InTheCapital - The Official Distilled Intelligence 2.0 Winners Are… 
			</a>

			<img src="http://company.cont3nt.com/files/2013/01/betakit.png" alt="cont3nt.com" 
			style="width:50%;padding-right:50%;padding-bottom:10px;padding-top:10px;"/>			
			<a class="aBlog"href="http://betakit.com/2012/06/08/cont3nt-takes-on-associated-press-with-breaking-news-marketplace">BetaKit - Cont3nt.com takes on Associated Press with Breaking News Marketplace 
			</a>

			<img src="http://company.cont3nt.com/files/2013/01/NibzWPlogo.png" alt="cont3nt.com"
			style="width:50%;padding-right:50%;padding-bottom:10px;padding-top:10px;"/>			
			<a class="aBlog"href="http://betakit.com/2012/06/08/cont3nt-takes-on-associated-press-with-breaking-news-marketplace">Nibletz - Cont3nt.com was just about King at Capital Connection TechBuzz 
			</a>
			<br/><br/><br/><br/>

		</div>
	</div>
	<div class="rightContentPress">
		<div width=100%>

			<div>
			<h2 class="h2Dotted" style="margin-left:0px;color:#edbe00">Recent Accolades</h2>
			<p class="pBlog">
				<ul>
					<li>Winner Distilled Intelligence '12</li>
					<li>Top 5 Knight News Challenge '12</li>		
					<li>NVTC Entrepreneur Spotlight '12</li>
					<li>FI Best Startups of the Year (July '12)</li>
					<li>Founder Showcase '12</li>
					<li>Selected to Join AOL's Fishbowl Labs (July '12)</li>
					<li>Graduates of Founder Insitute</li>
					<li>Graduates of Mindshare</li>
					<li>Winner Startup America Pitch Competition '12</li>
					<li>First Place in TechBuzz Startup Competition '12</li>
					<li>"Best of Buzz" at MAVA Capital Connection '12</li>		
				</ul>
			</p>
			</div>

			<div>
			<h2 class="h2Solid">Recent Blog Posts</h2>
			<p class="pBlog"><a class="aBlog" href="#">Egypt a Minefield for Journalists and Reporters</a><br/>
			 Friend of Cont3nt.com, Shauna Dillavou, the founder and…
			</p>
			<div width=100%>
				<img src="http://company.cont3nt.com/files/2013/08/BRnwVotCYAEXJXV-60x60.png" alt="egypt" class="imgNews"/>
			<p class="pBlog" style="float:both">
				<a class="aBlog" href="#">Egypt in a State of Emergency</a><br/>			
				Egyptian President Adly Mansour had declared the…
			</p>		
			</div>
			</div>



		</div>
	</div>



</div>

<!--
4 4 4 4 =16
100-16= 84
84/3 =28
-->

<script type="text/javascript">
	$("#wrapper").niceScroll({touchbehavior:true}); // First scrollable DIV
</script>