<!-- <div class="navbar-inner">
	<div class="show-navigation">
			</div>
	<div class="container-fluid">
		<div class="menu">
 -->


			 <!-- <plus-menu></plus-menu> --> <!-- create a ul with class nav and li > a linking to all top level routes  -->
<!-- 		</div>
	</div>
</div> -->
<!-- <div class="navbar-inner">
	<div class="container-fluid">

		<div class="footer-nav">
			<ul>
				<li class="home">
					<a  href="#/map">Home</a>
				</li>
				<li class="home">
					<a  href="#/map">Home</a>
				</li>
			</ul>
		</div>
	</div>
</div> -->