<header class="navbar navbar-fixed-top" ng-include="app.paths.view('layouts/_header')"></header>
	<div id="wrap-wrapper" style="position:absolute;overflow-y:scroll;bottom:0px;top:50px;left:0px;width:100%;" >
		<div id="scroller" style="position:absolute;width:100%;">
		<div id="wrapper"  plus-template>
			
		</div>
		</div>
		<div class="clear"></div>
	</div>
<script >
	var myScroll=null;
	$(document).ready(function(){



		setTimeout(function () {
				myScroll = new iScroll('wrap-wrapper');
				console.log(myScroll);
				//alert("mys sfsaddsf");
			}, 500);

	});
	
</script>	
<footer class="navbar navbar-fixed-bottom" ng-include="app.paths.view('layouts/_footer')"></footer>
