
<header class="navbar navbar-fixed-top" ng-include="app.paths.view('layouts/_header')"></header>
	<!-- <div id="wrap-wrapper" style="position:absolute;overflow-y:scroll;bottom:0px;top:50px;left:0px;width:100%;" >
		<div id="scroller" style="position:absolute;width:100%;"> -->
		<div id="wrapper"  plus-template>

		</div>
		<!-- slide menu -->
		<slide-menu ></slide-menu>
		<!--  <button id="show-menu-button" class=" btn nav-show-menu label label-primary">Menu</button>
		<div class="navigation-vertical panel panel-default">
			<div class="panel-heading">Menu</div>
			<div class="panel-body">
				<div id="panel-menu-wrapper" >
					<div id="scroller" style="position:absolute;min-width:130px;">
						<div class="panel panel-primary" style="margin-top:10px;">
							<div class="panel-heading" style="position:relative">Menu <span style="right:5px;position:absolute;top:3px;"><button id="hide-menu-button" class="btn">Back</button></span></div>
							<div class="panel-body">
								<div class="list-group">
								  <a href="#" class="list-group-item active">
								    Cras justo odio
								  </a>
								  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
								  <a href="#" class="list-group-item">Morbi leo risus</a>
								  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
								  <a href="#" class="list-group-item">Vestibulum at eros</a>
								</div>

							</div>	
						</div>
						
					</div>
				</div>
			</div>
		</div>  -->
		<!-- end slide menu -->
		<!-- </div>
		<div class="clear"></div>
	</div> -->
<script >
	
	// $(document).ready(function(){
	// 	$("#show-menu-button").click(function(){
	// 		$(".navigation-vertical").addClass("nav-in");
	// 	});
	// 	$("#hide-menu-button").click(function(){
	// 		$(".navigation-vertical").removeClass("nav-in");
	// 	});
	// 	var myScroll = new iScroll('panel-menu-wrapper');
	// });
	// var myScroll=null;
	// $(document).ready(function(){



	// 	setTimeout(function () {
	// 			myScroll = new iScroll('wrap-wrapper');
	// 			console.log(myScroll);
	// 			//alert("mys sfsaddsf");
	// 		}, 500);

	// });
	
</script>	
<footer class="navbar navbar-fixed-bottom" ng-include="app.paths.view('layouts/_footer')"></footer>
