<div id="profile-wrap-wrapper" style="position:absolute;overflow-y:scroll;bottom:0px;left:0px;top:0px;width:100%;" >
	<div id="scroller" style="position:absolute;width:100%;">
		<div class="kratos view-port-page"  >	
		<!-- <host-loading set-show-loading="setShowBig(fnShow)" set-hide-loading="setHideBig(fnHide)"> -->
			<br/>
			<div class="grid-120">

				<div class="grid-40 mobile-grid">
					<host-loading set-show-loading="setShowProfileLoading(fnShow)" set-hide-loading="setHideProfileLoading(fnHide)">
					<div  style="min-height:220px;display:block;">
						<h1>{{user.name}}</h1>
						<img ng-src="{{user.photopath}}" style="width:100%;height:auto;max-width:120px" />
						<br/>
						<b>Birth Date: {{user.bod}}</b>
						<div ng-show="isOwnUser">
							<br/>
							<input type="text" ng-model="say"/>
							
							<br/>
							<a class="btn btn-info {{tw_say_class}}" ng-click="tw_say(say)">Tweet</a> 
							<a class="btn btn-primary {{fb_say_class}}" ng-click="fb_say(say)">Post</a>
						</div>
					</div>
					</host-loading>
				</div>
				<div class="grid-80 mobile-grid">
					<h1>{{user.name}}'s recent activities:</h1>
					<host-loading set-show-loading="setShowStatusesLoading(fnShow)" set-hide-loading="setHideStatusesLoading(fnHide)">
						<table class="table table-striped" style="min-height:100px;display:block; width:100%;">
							<tr ng-repeat="tweet in user.tweets">
								<td>{{tweet.created_at}}</td>
								<td>{{tweet.text}}</td>
							</tr>
						</table>
					</host-loading>
				</div>
			</div>
			
					<div class="clear"></div>
		<!-- </host-loading> -->
	</div>
		<script type="text/javascript">
			// iscroll issue: http://code.google.com/p/iscroll-js/issues/detail?id=17
			var myScroll = new iScroll('profile-wrap-wrapper');
			myScroll.options.onBeforeScrollStart = function(e) {                
	            var target = e.target;

	            while (target.nodeType != 1) target = target.parentNode;

	            if (target.tagName != 'SELECT' && target.tagName != 'INPUT' && target.tagName != 'TEXTAREA'){
	                e.preventDefault();
	            }
	        }
		    setInterval(function(){
		    	myScroll.refresh()
		    },1000);
		 
		</script>
	</div>
</div>