<div id="profileall-wrap-wrapper" style="position:absolute;overflow-y:scroll;bottom:0px;left:0px;top:0px;width:100%;" >
	<div id="scroller" style="position:absolute;width:100%;">
		<div class="kratos  view-port-page">
			<br/>
			<h1>All Profiles</h1>
			<form class="row" role="form">
				<div class="form-group col-xs-8">
					<label class="sr-only" for="inputSearchProfile" >Search Profile:</label>
					<input type="text" class="form-control" id="inputSearch Profile" placeholder="Ex: cont3nt" ng-model="search.username"/>
				</div>
				<div class="form-group  col-xs-4">
					<button type="button" class="btn btn-default form-control" style="margin-bottom:0px;" ng-click="search(search.username)">Search</button>
				</div>
			</form>
			<hr/>
			
			<div class="profile-group">
				<host-loading set-show-loading="setShowProfilesLoading(fnShow)" set-hide-loading="setHideProfilesLoading(fnHide)">
				<div  style="min-height:120px;display:block;">
				<!-- <div id="profileall-wrap-wrapper"  > --><!--   scrollable parameters="{{ {hScrollbar : true, snap: '.row'} }}"  -->
					<!-- <div id="scroller" style="position:absolute;width:100%;"> -->
						<!-- block -->
						<div class="col-xs-6 col-sm-2 col-md-2" style="height:140px" ng-repeat="user in users">
							<div class="profile-box"  style=" text-align:center">
								<button class="btn" ng-click="viewprofile(user.username)">
									<div class="row">
										<div class="pic-profile col-md-12" style="height:100px;">
											<img ng-src="{{user.pic_profile}}" src="https://si0.twimg.com/profile_images/2284174758/v65oai7fxn47qv9nectx.png" alt="" style=""/>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											{{user.username}}
										</div>
									</div>
								</a>
							</div>
						</div>
						<!--end block-->
						
				<!-- 	</div>
				</div> -->	
				</div>
				</host-loading>
			</div>
			<script>
				var myScroll=null;
				$(document).ready(function(){

					var	myScroll = new iScroll('profileall-wrap-wrapper');					
					
					myScroll.options.onBeforeScrollStart = function(e) {                
			            var target = e.target;

			            while (target.nodeType != 1) target = target.parentNode;

			            if (target.tagName != 'SELECT' && target.tagName != 'INPUT' && target.tagName != 'TEXTAREA'){
			                e.preventDefault();
			            }
			        }
				    setInterval(function(){
				    	myScroll.refresh();
				    },1000);

				});
			</script>
		</div>
		<div class="clear"></div>
	</div>
</div>
